<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">NUMBER PLATE DETECTION</a>
    
    </div>
  </nav>
    
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
         
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s10">
                  <i class="material-icons prefix">add_a_photo</i>
                  <input [(ngModel)]="imageUrl" id="icon_prefix" type="text" name="image"class="validate">
                  <label for="icon_prefix">Please enter the url of the image</label>
                
                </div>
               
              </div>
            </form>
          </div>
          <div align="center">
          <a (click)="submit()" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>button</a>
        
          </div> 
        </div>
        
      </div>
      
    </div>
    <div class="col s12 m6" >
            <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                     
                      <div class="row">
                        <form class="col s12">
                          <div class="row">
                            <!-- <div class="input-field col s10">
                              <i class="material-icons prefix">add_a_photo</i>
                              <input [(ngModel)]="imageUrl" id="icon_prefix" type="text" class="validate">
                              <label for="icon_prefix">Please enter the url of the image</label>
                            
                            </div> -->
                           <h1 *ngIf="numberplate"> {{numberplate}} </h1><!-- http://citynews.com.au/wp-content/uploads/2012/07/car.jpg -->
                          </div>
                        </form>
                   
                      
                    
                      </div> 
                    </div>
                    
                  </div>

    </div>
  </div>    
  <div class="row" *ngIf="showToggle">
  <div class="col s12 m6">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">

          <img src="{{imageUrl}}" alt="" class=" responsive-img"> <!-- notice the "circle" class -->
        
        <div class="col s10">
         
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
  </div>
  </div>
